job.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="onlinejobboard">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="job">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="company" type="xs:string" />
							<xs:element name="designation" type="xs:string" />
                            <xs:element name="salary" type="xs:string" />
							<xs:element name="phone" type="xs:unsignedLong" />
							<xs:element name="city" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="jid" type="xs:unsignedShort" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>