onlinejobboard.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="onlinejobboard">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="candidate">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" />
							<xs:element name="age" type="xs:string" />
							<xs:element name="qualification" type="xs:string" />
							<xs:element name="designation" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="sno" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
